.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container input {
  height: 2rem;
  width: 20rem;
  border-radius: 2rem;
  background-color: gray;
}
