.timer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer__box {
  height: 15rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.buttons__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons__container button {
  background: none;
  border: none;
}

.buttons__container button:focus {
  outline: none;
}
